/* Override some defaults */
html, body {
  background-color: #eee;
}
body {
  padding-top: 60px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 800px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}

/* ============== RAY VILJOEN ============== */

html, body{
	background: #fff;
}

p{
	font-size: 16px;
	line-height: 1.5em;
}

.content{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 0px;
}

.topbar h3 a, .topbar{
	height: 60px;
}

.topbar h3 a, .topbar .fill{
	background: #222;
}

.topbar h3 a, .topbar .brand{
	font-family: 'Lobster', cursive;
	font-size: 3em;
	margin-right: 50px;
}

.topbar h3 a, .topbar .brand span{
	color: #ff6600;
	font-size: 1.8em;
	line-height: 0px;
	position: relative;
	left: 5px;
}

.topbar div .nav li a{
	padding: 20px;
	font-weight: bold;
	color: #fff;
}

.page-header{
	padding: 0 0 15px;
	margin: 0;
}

.page-header h1{
	font-family: 'Lobster', cursive;
	margin: 0;
}

.container .content h1,
.container .content article h2 a{
	color: #0185e2;
}

.container .content article h2 a:hover{
	color: #0096ff;
	text-decoration: none;
}

.container .content article{
	padding: 10px 15px;
	margin: 10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F7F7F7;
	border: 1px solid #F0F0F0;
	overflow: auto;
}

.container .content article img.align_left{
	float: left;
	margin:10px 20px 10px 0px;
}

.container .content article img.align_right{
	float: right;
	margin:10px 0px 10px 20px;
}

.container .content img.align_left{
	float: left;
	margin:10px 20px 10px 0px;
}

.container .content img.align_right{
	float: right;
	margin:10px 0px 10px 20px;
}

.container .content .post-header{
	margin-top: 20px;
}

.content .sidebar{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F7F7F7;
	border: 1px solid #F0F0F0;
	width: 190px;
	padding: 0px 15px;
}

.container .content .postmeta{
	font-weight:bold;
	color: #444;
	margin-bottom: 15px;
}