/* ==========================================================================================
	Normalize.css
	Authors: Nicolas Gallagher & Jonathan Neal
	http://necolas.github.com/normalize.css/
========================================================================================== */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline;zoom:1;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}html,button,input,select,textarea{font-family:sans-serif;}a:focus{outline:thin dotted;}a:hover,a:active{outline:0;}h1{font-size:2em;margin:.67em 0;}h2{font-size:1.5em;margin:.83em 0;}h3{font-size:1.17em;margin:1em 0;}h4{font-size:1em;margin:1.33em 0;}h5{font-size:.83em;margin:1.67em 0;}h6{font-size:.75em;margin:2.33em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}blockquote{margin:1em 40px;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:none;}q:before,q:after{content:none;}small{font-size:75%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}dd{margin:0 0 0 40px;}menu,ol,ul{padding:0 0 0 40px;}nav ul,nav ol{list-style:none;list-style-image:none;}img{border:0;-ms-interpolation-mode:bicubic;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;white-space:normal;margin-left:-7px;padding:0;}button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0;}button,input{line-height:normal;}button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;overflow:visible;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;height:13px;width:13px;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure,form{margin:0;}p,pre,dl,menu,ol,ul{margin:1em 0;}
	
/* ==========================================================================================
	Author: Ray Viljoen
========================================================================================== */

html, body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}
body {
  padding-top: 60px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a,
a:hover,
a:visited{
	text-decoration: none;
	color: inherit;
}

.container footer p {
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
}

.container footer p a{
	color: #f60;
}

.container {
  width: 800px;
  margin: 0px auto;
}

#topbar{
	height: 60px;
	background-color: #222;
	position: fixed;
	top: 0px;
	width: 100%;
	border-bottom: 3px solid #f60;
}

p{
	line-height: 1.4em;
	color: #333;
}

#logo{
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	color: #efefef;
	padding: 0px 15px;
	float: left;
	line-height: 1.4em;
	height: 60px;
}

#logo span{
	font-size:1.5em;
	line-height: 0px;
	position: relative;
	left: 5px;
	color: #f60;
}

#logo:hover{
	background-color:#333;
}

#nav{
	margin: 0px;
	padding: 0px;
	float: right;
	width: 600px;
	padding-top: 20px;
}

#nav li{
	float: left;
	list-style: none;
	padding: 0px 15px;
}

#nav li a{
	color: #999;
	font-size: 0.9em;
	font-weight: bold;
}

#nav li a:hover{
	color: #fff;
}

.container .content h1,
.container .content article h2{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:400;
	color: #444;
	font-size: 2em;
	margin: 0px;
	padding: 25px 0px 5px;
}

.container .content article h2 a:hover{
	color: #777;
	text-decoration: none;
}

.container .content article{
	padding: 0px 15px 25px;
	margin: 0px 0px 15px;
	background-color: #fff;
	overflow: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 1px solid #eee;
}

.container .content article img.align_left{
	float: left;
	margin:0px 20px 0px 0px;
}

.container .content article img.align_right{
	float: right;
	margin:0px 0px 0px 20px;
}

.container .content .post-header{
	margin-top: 20px;
}

.content .sidebar{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #F7F7F7;
	border: 1px solid #F0F0F0;
	width: 190px;
	padding: 0px 15px;
}

.container .content .postmeta{
	color: #aaa;
	margin: 0px;
	padding: 7px 0px 5px;
}

.container .content .postmeta span{
	background: url(../images/meta.gif) no-repeat 0 0;
	padding: 5px 0px 5px 30px;
}

.container .content .postmeta span.published{
	background-position: 0px 3px;
}

.container .content .postmeta span.categories{
	padding-left: 25px;
	background-position: 0px -22px;
	margin-left: 30px;
}

.container .content .postmeta span a{
	padding-left: 5px;
}

.container .content .postmeta span a:hover{
	color: #f60;
}